/*
Colores de mi sitio Web
primario: #354649
secundario: #6C7A89
light: #A3C6C4
info: #E0E7E9
*/

.text-light{
    color: #A3C6C4;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-primary{
    color: #354649;
}

.text-white{
    color: white;
}

.bg-primary{
    background-color: #354649;
}

.bg-info{
    background-color: #E0E7E9;
}